<div
  style="cursor:auto;color:#737F8D;font-family:Whitney, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;font-size:16px;line-height:24px;text-align:left;"
>
  <p><img src="{{imageUrl}}" alt="Duyuru Görseli" title="None" width="300" style="height: auto;" /></p>

  <h2
    style="font-family: Whitney, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;font-weight: 500;font-size: 20px;color: #4F545C;letter-spacing: 0.27px;"
  >
    Sevgili öğrencimiz,
  </h2>

  <p>"{{title}}" başlıklı yeni bir duyuru paylaşıldı.</p>

  <h5
    style="font-family: Whitney, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;font-weight: 500;font-size: 10px;color: #4F545C;letter-spacing: 0.27px;"
  >
    Duyurunun İçeriği
  </h5>
  <p>{{content}}</p>

</div>